---
import Achievements from "../Achievements/index.astro";
---

<div class="text-[24px] lg:max-w-[650px] text-center lg:text-left">
  <div class="text-[#b8c1ec] tracking-[2px]">Hey, it's</div>
  <div class="pt-2 text-[4rem] font-bold tracking-[2.5px] text-[#fffffe]">
    Christopher Yu
  </div>
  <div
    class="pt-2 lg:max-w-[80%] text-[#b8c1ec] lg:text-left text-center tracking-[2px]"
  >
    a Full Stack Developer who crafts awesome digital experiences with
    JavaScript and TypeScript.
  </div>
  <div
    class="bg-[#eebbc3] p-4 rounded-tl-xl rounded-br-xl inline-block text-[#232946] font-bold mt-12 w-[80%] text-center"
  >
    Welcome to my digital playground
  </div>
  <Achievements />
</div>
