---
import Introduction from "../Introduction/index.astro";
import ProfilePicture from "../ProfilePicture/index.astro";
---

<div class="bg-main h-screen w-full text-white">
	<div class="flex flex-col lg:flex-row pt-32 sm:container items-center m-auto">
		<Introduction />
		<ProfilePicture />
	</div>
</div>
