---
import Introduction from "../Introduction/index.astro";
import ProfilePicture from "../ProfilePicture/index.astro";
---

<div class="bg-[#232946] h-screen w-full text-[#fffffe]">
  <div class="flex flex-col lg:flex-row pt-32 container items-center m-auto">
    <Introduction />
    <ProfilePicture />
  </div>
</div>
