---
import ProfileIllus from "../../assets/Kukang.png";
import Arrow2 from "../../assets/arrow2.svg";
---

<div class="text-center relative m-auto pt-14 md:pt-8 lg:pt-0">
	<div
		class="relative flex bg-[#fffffe] items-center justify-center rounded-full overflow-hidden lg:w-[440px] md:w-[280px] lg:h-[420px] md:h-[280px]"
	>
		<img
			class="md:h-[280px] lg:h-[420px] h-[220px]"
			src={ProfileIllus.src}
			alt="profile illustration"
		/>
	</div>
	<img
		class="absolute lg:block hidden bottom-[-40px] left-44 h-3 -scale-x-100 rotate-45"
		src={Arrow2.src}
		alt=""
	/>
	<div
		class="absolute lg:block hidden -bottom-[70px] text-[14px] w-[200px] left-[140px] -rotate-[20deg] text-[#eebbc3]"
	>
		It is me as a Cartoon :D
	</div>
</div>
