---
interface Props {
	title: string;
}

import ProfileImg from "../assets/Kukang.png";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="en-US" />
		<meta
			name="description"
			content="I'm Christopher Yu, a Full Stack Developer specializing in JavaScript/TypeScript. Explore my portfolio and projects."
		/>
		<meta
			name="keywords"
			content="Christopher Yu, Full Stack Developer, JavaScript, TypeScript, Portfolio"
			<meta
			property="og:title"
			content="Christopher Yu - Full Stack Developer"
		/>
		<meta
			property="og:description"
			content="I'm Christopher Yu, a Full Stack Developer specializing in JavaScript/TypeScript."
		/>
		<meta property="og:image" content={ProfileImg.src} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Christopher Yu - Full Stack Developer"
		/>
		<meta
			name="twitter:description"
			content="I'm Christopher Yu, a Full Stack Developer specializing in JavaScript/TypeScript."
		/><meta name="viewport" content="width=device-width" /><link
			rel="canonical"
			href="https://www.christopher-yu.com"
		/><link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/><link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/><link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/><meta name="generator" content={Astro.generator} /><title>
			{title}
		</title></head
	>

	<body>
		<slot />
	</body>
</html>
